# 引言
### 1.if for while break 控制流语句
### 2.创建、读取reading、 写入writing文件   
### 3.列表list、元组tuple、字典dictionary

---

**if语句**

In [5]:
x = 15
if x % 2 == 0:
    print('%d is even' % x)
else:
    print('%d is odd number' % x)
print('This is always printed')

15 is odd number
This is always printed

In [8]:
x = -2
if x < 0:
    print('The nagative number %d is not valid here.' % x)
print('This is always printed.')

The nagative number -2 is not valid here.
This is always printed.

In [9]:
x = 10
y = 10
if x > y:
    print('x is greater than y')
else:
    if x < y:
        print('x is less than y')
    else:
        print('x and y be equal')

x and y be equal

In [11]:
x = 10
y = 10
if (x < y):
    print('x is less than y')
elif (x > y):
    print('x is greater than y')
else:
    print('x and y be equal')

x and y be equal

---

**for 语句 循环语句常用range()函数：生成包含特定数量整数的列表0123...**

In [13]:
for name in ['Joe', 'Amy', 'Brad', 'Angelian', 'Zuki']:
    print('Hi %s Please come to my party on Saturday!' % name)

Hi Joe Please come to my party on Saturday!
Hi Amy Please come to my party on Saturday!
Hi Brad Please come to my party on Saturday!
Hi Angelian Please come to my party on Saturday!
Hi Zuki Please come to my party on Saturday!

In [15]:
for i in [0, 1, 2, 3, 4]:
    print('The count is %d' % i)

The count is 0
The count is 1
The count is 2
The count is 3
The count is 4

In [17]:
for i in range(5):
    print('The count is %d' % i)
print('Good Bye!')

The count is 0
The count is 1
The count is 2
The count is 3
The count is 4
Good Bye!

并不真正是列表，节省空间range()函数

In [18]:
range(5)

range(0, 5)

In [19]:
print(range(5))

range(0, 5)

In [21]:
rangeA = range(5)
list(rangeA)

[0, 1, 2, 3, 4]

In [22]:
list(range(1, 6))

[1, 2, 3, 4, 5]

In [24]:
list(range(0,19,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [25]:
list(range(0,20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

---

**while 语句**

In [27]:
i = 1
while (i < 6):
    print('The count is %d' % i)
    i = i + 1
print('Good Bye!')

The count is 1
The count is 2
The count is 3
The count is 4
The count is 5
Good Bye!

---

In [5]:
#r 读 w 写 a 追加；split()拆分为列表
scorefile = open('Data/score.txt', 'r')

for line in scorefile:
    value = line.split()
    name = value[0]
    id = value[1]
    score = value[2]
    print('%s with ID %s has a score of %s' % (name, id, score))

David with ID 3402 has a score of 80
Jane with ID 3403 has a score of 76
Sophia with ID 3405 has a score of 65
Jane with ID 3447 has a score of 92
William with ID 3456 has a score of 75

In [7]:
print(scorefile)

<_io.TextIOWrapper name='Data/score.txt' mode='r' encoding='cp936'>

In [9]:
open?
#查看open函数的使用方法

In [11]:
infile = open('data/score.txt', 'r')
outfile = open('data/id.txt', 'w')

for line in infile:
    value=line.split()
    id = value[1]
    score = value[2]
    dataline = id + ',' + score
    print(dataline)
    outfile.write(dataline + '\n')
infile.close()
outfile.close()

3402,80
3403,76
3405,65
3447,92
3456,75

---

**高阶数据，高级数据**

In [12]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
l = [10, 20, 30, 40]
empty = [ ]

In [13]:
shoplist

['apple', 'mango', 'carrot', 'banana']

In [14]:
l

[10, 20, 30, 40]

In [15]:
empty

[]

In [16]:
l

[10, 20, 30, 40]

In [17]:
l[2]

30

In [18]:
l[-1]

40

In [19]:
l[-2]

30

In [20]:
l[-3]

20

nested list 嵌套列表

In [25]:
l = ['apple', 2.0, 5, [10, 20]]

In [22]:
l[1]

2.0

In [26]:
l[3]

[10, 20]

In [24]:
l[3][1]

20

In [27]:
l = [10, 20, 30, 40]

In [28]:
l

[10, 20, 30, 40]

In [29]:
l[1] = 50
l

[10, 50, 30, 40]

**list 操作: in**

In [30]:
shoplist = ['apple', 'mango', 'carrot', 'banana']

In [31]:
'apple' in shoplist

True

In [32]:
'rice' in shoplist

False

In [33]:
'a' in 'banana'

True

In [34]:
'seed' in 'banana'

False

In [35]:
[10, 20, 30, 40] + [50, 60]

[10, 20, 30, 40, 50, 60]

**注意：列表乘法注意是复制出几个相同的进行拼接**

In [36]:
[50, 60] * 3

[50, 60, 50, 60, 50, 60]

In [37]:
l = [1, 2, 3, 4]

**仍然为一个列表切片之后，不包括最后一个数字位置的**

In [38]:
l[1:3]

[2, 3]

In [39]:
l[2:]

[3, 4]

In [40]:
l[:2]

[1, 2]

In [41]:
l[-2:]

[3, 4]

In [42]:
l[:]

[1, 2, 3, 4]

In [43]:
l = [1, 2, 3, 4]
l_org = l[:]
l[0] = 8

In [44]:
l

[8, 2, 3, 4]

In [45]:
l_org

[1, 2, 3, 4]

**append(),len(),sort(),split(),join()**

In [46]:
l = [1, 2, 3, 4]

In [54]:
l.append(4)

In [55]:
l

[1, 2, 3, 4, 4, 4, 4, 5, [6, 7], 4]

In [56]:
l.append(5)
l

[1, 2, 3, 4, 4, 4, 4, 5, [6, 7], 4, 5]

In [57]:
l.append([6, 7])
l

[1, 2, 3, 4, 4, 4, 4, 5, [6, 7], 4, 5, [6, 7]]

In [59]:
l = [1, 2, 3, 4, 5]
len(l)

5

In [60]:
l = [1, 2, 3, 4, 5, [6, 7]]
len(l)

6

In [61]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
shoplist.sort()

In [62]:
shoplist

['apple', 'banana', 'carrot', 'mango']

In [63]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
shoplist_sorted = shoplist.sort()#不回赋值给任何的列表

In [64]:
shoplist

['apple', 'banana', 'carrot', 'mango']

In [66]:
shoplist_sorted
#无返回值

In [68]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
shoplist_sorted = sorted(shoplist)#原列表不变，新值赋给新的变量

In [69]:
shoplist

['apple', 'mango', 'carrot', 'banana']

In [70]:
shoplist_sorted

['apple', 'banana', 'carrot', 'mango']

**列表与字符串的转换 split(),joint()**

In [72]:
#将字符串分解为单词
s = 'I love apples'
s.split()

['I', 'love', 'apples']

In [73]:
s = 'spam-spam-spam'
s.split()

['spam-spam-spam']

In [74]:
s.split('-')

['spam', 'spam', 'spam']

In [77]:
l = ['I', 'love', 'you']
s = ' '.join(l)
s

'I love you'

In [78]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [80]:
sum?

In [81]:
#遍历列表--进行查阅
shoplist = ['apple', 'mango', 'carrot', 'banana']
for item in shoplist:
    print(item)

apple
mango
carrot
banana

In [82]:
#更新列表 range(),len()
l = [2, 3, 5, 7]

for i in range(len(l)):
    l[i] = l[i] * 2
print(l)

[4, 6, 10, 14]

In [83]:
#tuple 是不可变的-与列表相似只是不可变动
year_born = ('David Hilton', 1995)
year_born

('David Hilton', 1995)

In [84]:
t = ( )
t

()

In [85]:
t = (1)
t

1

In [87]:
type(t)

int

In [89]:
t = (1,)
t

(1,)

In [90]:
type(t)

tuple

In [91]:
t = ('a', 'b', 'c', 'd')

In [93]:
t[0]

'a'

In [94]:
t[1:3]

('b', 'c')

In [97]:
#修改是错误的
t = ('a', 'b', 'c', 'd')
t[1] = 'B'

TypeError: 'tuple' object does not support item assignment

In [111]:
t = ('David', '0233', '78')
(name, id, score) = t

In [112]:
print(t)

('David', '0233', '78')

In [99]:
name

'David'

In [100]:
id

'0233'

In [101]:
score

'78'

In [102]:
(b, c, a)=(1, 2, 3)

In [103]:
b

1

In [104]:
c

2

In [105]:
a

3

In [113]:
t = [('David', 90), ('John', 88), ('James', 70)]
for (name,score) in t:
    print(name, score)

David 90
John 88
James 70

In [114]:
type((name, score))

tuple

In [116]:
dict = {'David': 70,'Join': 60, 'Mike': 85}
dict['David']

70

In [117]:
dict = {'Daid': 70, 'John': 60, 'Amy': 85}
for key in dict:
    print(key, dict[key])

Daid 70
John 60
Amy 85

In [120]:
dict = {'Daid': 70, 'John': 60, 'Amy': 85}
dict_sorted = sorted(dict.keys())
print(dict_sorted)

['Amy', 'Daid', 'John']

In [121]:
for key in dict:
    print(key,dict[key])

Daid 70
John 60
Amy 85